.step_1 .page-wrapper::before {
    background: white;
}

.step_7 .page-wrapper::before {
    background: white;
}

.cursor-pointer {
    cursor: pointer;
}

/* tables */

.width-auto {
    width: 100%;
}

.table-dark {
    background: none;
}

.table-dark th, .table-dark td, .table-dark thead th {
    border-color: gray !important;
}

.table-dark th div {
    color: white;
    text-align: left;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

